@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

body{
  /* background: #E0F7FA; */
  background-image: url('many-falling-blocks-with-question-marks-3d-illustration_75780-204.jpg'); /* If style.css and image are in the same folder */
    background-size: cover; 
    background-repeat:no-repeat; 
    
}
.board{
  background: #ecede7;
  width: 90%;
  max-width: 600px;
  margin: 80px auto 0;
  border-radius: 10px;
  padding: 30px;
  border: 2px solid #a8ce41;

}
.board h1{
  
  color:rgb(215, 104, 13);
  font-weight: 600;
  border-bottom: 1px solid orange;
  padding-bottom: 30px;
  text-align: center;
}
.quiz{
  padding: 20px 0;
}
.quiz h2{
  font-size: 18px;
  color: rgb(215, 104, 13);
  font-weight: 600;
  text-align: center;

}
.btn{
  background: #fff;
  color: #6d3205;
  font-weight: 500;
  width: 100%;
  border: 1px solid #b75d08;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover:not([disabled]){
  background: #f35505;
  color: #fff;

}
.btn:disabled{
  cursor: no-drop;
}

#next-btn{
  background: #d87c04;
  color: #fff;
  font-weight: 500;
  width: 150px;
  border: 0px;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}

.correct{
  background: #08853e; 
}

.incorrect{
  background: #c54205;
}